[Unit]
Description=Hadoop Distributed File System Data Node

[Service]
Type=forking
ExecStart=/opt/hadoop/bin/hdfs --daemon start datanode
User={{ hostvars[inventory_hostname].user_name }}

[Install]
WantedBy=multi-user.target