<configuration>
    <property>
        <name>dfs.replication</name>
        <value>{{ hostvars[inventory_hostname]['groups']['datanodes']|length }}</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>/opt/hadoop/dfs/data</value>
    </property>
</configuration>